MYSQLDB_USER=
MYSQLDB_PASSWORD=
MYSQLDB_DATABASE=shop
MYSQLDB_LOCAL_PORT=3307
MYSQLDB_DOCKER_PORT=3306
MYSQLDB_ROOT_PASSWORD=
MYSQLDB_URL=jdbc:mysql://mysql:3306/shop?serverTimezone=UTC
MYSQLDB_DRIVER=org.hibernate.dialect.MySQLDialect

SPRING_LOCAL_PORT=8081
SPRING_DOCKER_PORT=8080
DEBUG_PORT=5005